body {
    background-image: url("../img/coffee-cup-with-bean.jpg");
    background-size: cover;

}

nav {
    background-color: rgb(164, 102, 70);

}

/*Form-Input-Button Start*/

#coffee-search-bars {
    padding-left: 15em;
    margin-top: 5em;
    margin-right: 0;
}
select {
    border: none;
    border-radius: .375em !important;
}

input {
    border: none !important;
}

button {
    color: rgb(164, 102, 70);
    background-color: bisque;
    border: none;
}
/*Form-Input-Button End*/

/*Coffee Display and Animation Start*/

#coffees h3 {
    color: rgb(164, 102, 70);
}

.coffee {
    animation: 2s anim-lineUp ease;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
/*Coffee Display and Animation End*/
