body {
    background-color: bisque;
    background-image: url("pexels-lukas-942802.jpg");
    background-size: 83rem 67rem;
}
.navbar {
    background-color: lightblue !important;
}

.coffee-form {
    border: none;
    margin-top: 30px;
}

#roast-selection {
    border: none;
}

.coffee-display {
    background-color: #fbfbfb;
}

#coffees p {
    color: red;
}

#coffees h3 {
    color: green;
}

#coffee-search-bars {
    padding-top: 8em;
}

#search-spacing {
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

#coffee-selector {
    width: 33%;
}