body {
    background-color: bisque;
}
.navbar {
    background-color: lightblue !important;
}

.coffee-form {
    border: 1px solid black;
    margin-top: 30px;
}

.coffee-display {
    background-color: white;
}

#coffees p {
    color: red;
}

#coffees h3 {
    color: green;
}
